@media (min-width: 650px) {
    

    header {
        flex-direction: row; 
        justify-content: space-between;
    }

    main {
        padding: 40px; 
    }

    
    table {
        font-size: 1rem;
    }

    caption {
        font-size: 1.6rem;
        margin-bottom: 25px;
    }

    th, td {
        padding: 18px; 
    }
    .table1,.table2{
        display: none;
        
    }

    .bigtable{
        display: table;
        margin: 0 auto;
    }
    
}