
    @media (min-width: 600px) {
    body {
        width: 600px;
        padding: 20px;
    }
    .fixer {
    display: flex;
    flex-direction: row;
    gap: 20px; 
    }
    .flexer1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start; 
    text-align: left;
    width: 100%;
}
}
    

